.App {
  text-align: center;
  display: flex;
  grid-gap: 10px;
  width: 90%;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.App .column {
  width: 100%;
}




